
@{
    ViewBag.Title = "OrderPlaced";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-bottom:400px;">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Đặt hàng thành công</h2>
            <p>Đơn hàng của bạn sẽ sớm được chuẩn bị </p>

        </div>
    </div>
</div>

