
@{
    ViewBag.Title = "PaymentFail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-bottom:400px;">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Đặt hàng thất bại</h2>
            <p>Hãy kiểm tra lại thông tin </p>

        </div>
    </div>
</div>

